:root {
  --background-colour: #e5e5e5;
  --nav-colour: #f4f3ee;
  --greybox-colour: #f4f3ee;
  --pink: #c32c72;
  --white: #fff;
  --grey: #8d8d8d;
  --grey-dark: #6a6a6a;
  --shadow: rgba(0, 0, 0, 0.16);
}
